---
import TodoApp from "../components/TodoApp";
let res;

const fetchTodos = async () => {
  const baseURL = "https://astro-todoapp.pages.dev";
      const data = await fetch(`${baseURL}/api/todos.json`);
      res = await data.json();
};
  
await fetchTodos();
---

<html>
  <head>
    <title>Todo App</title>
  </head>
  <body>
    <TodoApp res={res} client:load />
  </body>
</html>
